* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Verdana', sans-serif;
    position: relative;
}

nav {
    position: fixed;
    top: 3rem;
    left: 2rem;
}
    nav ul {
        list-style-type: none;
    }
        nav ul li {
            padding: .5rem 1rem;
            margin: 1.5rem 0;
            transition: all .6s;
        }
            nav ul li:hover {
                padding: .5rem 2rem;
            }

            nav ul li a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 900;
                color: coral;
            }

            
            nav ul li a.coral {
                color: #242424;
            }

section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem 0;
    height: 100vh;
    background: linear-gradient(140deg, coral 50%, #242424 50%);
}
section:first-of-type {
    align-items: center; 
}
section:nth-child(even) {
    background: linear-gradient(140deg, #242424 50%, coral 50%);
    color: coral;
}

h1.title {
    padding-left: 2rem;
    font-size: 5rem;
    position: relative;
}
    .title-left {
        color: coral;
    }
    .title-right {
        color: #242424;
    }

    h1.title::before, h1.title::after {
        position: absolute;
        font-size: 1.5rem;
    }

    h1.title::before {
        content: 'NavBar Links...';
        top: -2rem;
        
    }
    h1.title::after {
        content: '...on section change!';
        bottom: -2rem;
        right: 0;
        color: #242424;
    }

section h2 {
    font-size: 3rem;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    html {
        font-size: 10px;
    }
    nav {
        top: 2rem;
        left: 1rem;
    }
        nav ul li a {
            font-size: 1rem;
        }

    section {
        background: linear-gradient(105deg, coral 50%, #242424 50%);
    }
    section:nth-child(even) {
        background: linear-gradient(105deg, #242424 50%, coral 50%);
    }
    h1.title {
        padding-left: 1rem;
        font-size: 3rem;
    }
        h1.title::before, h1.title::after {
            font-size: 1.1rem;
        }
}